* {
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.cookie-warning {
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 90%;
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    padding: 10px 100px;
}

.login-p {
    display: none;
}

.header-block-login {
    flex: 0 0 auto;
}

.wrapper {
    padding-top: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    width: 90%;
}